<h1>Create a new modification</h1>

<%= form_tag order_modifications_path do %>
  <label>Note:</label>
  <input type="text" id="modification_note" name="modification[note]">
    
  <label>Price:</label><br>
  <input type="submit" value="Add Modification">
<% end %>
