<h4>Desserts</h4>
<ul>
<% @foods.where(food_type: "Dessert").each do |dessert|  %>
<li>
    <%= dessert.name %> - $<%= dessert.price %> - 
    <%= link_to 'Remove Item', dessert,  method: :delete %><br><br>
</li>
<% end %>
</ul>