<h4>Desserts</h4>
<ul>
<% @foods.where(food_type: "Dessert").each do |dessert|  %>
<li>
    <%= dessert.name %> - $<%= dessert.price %>
    <%= button_to 'Remove Item', dessert,  method: :delete, form: {style: 'display:inline-block;'} %><br><br>
</li>
<% end %>
</ul>