<h4>Entrees</h4>
<ul>
<% @foods.where(food_type: "Entree").each do |entree|  %>
<li>
    <%= entree.name %> - $<%= entree.price %>
    <%= button_to 'Remove Item', entree,  method: :delete, form: {style: 'display:inline-block;'} %><br><br>
</li>
<% end %>
</ul>