<h4>Entrees</h4>
<ul>
<% @foods.where(food_type: "Entree").each do |entree|  %>
<li>
    <%= entree.name %> - $<%= entree.price %> -
    <%= link_to 'Remove Item', entree,  method: :delete %><br><br>
</li>
<% end %>
</ul>