<h4>Pasta</h4>
<ul>
<% @foods.where(food_type: "Pasta").each do |pasta|  %>
<li>
    <%= pasta.name %> - $<%= pasta.price %>
    <%= button_to 'Remove Item', pasta,  method: :delete, form: {style: 'display:inline-block;'} %><br><br>
</li>
<% end %>
</ul>