<h4>Pasta</h4>
<ul>
<% @foods.where(food_type: "Pasta").each do |pasta|  %>
<li>
    <%= pasta.name %> - $<%= pasta.price %> -
    <%= link_to 'Remove Item', pasta,  method: :delete %><br><br>
</li>
<% end %>
</ul>