<h4>Pizza</h4>
<ul>
<% @foods.where(food_type: "Pizza").each do |pizza|  %>
<li>
    <%= pizza.name %> - $<%= pizza.price %> - 
    <%= link_to 'Remove Item', pizza,  method: :delete %><br><br>
</li>
<% end %>
</ul>