// Place all the styles related to the Checks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "semantic-ui";

body {
    margin: 35px;
    background-color: BlanchedAlmond;
}

.server-image {
    float: right;
    width: 500px;
    margin-right: 105px;
    border: 5px solid black;
    padding: 5px;
}

.logo-image {
    float: right;
    width: 500px;
    margin-right: 105px;
    margin-top: 5px;
    padding: 5px;
}

p {
  font-family: Lucida;
  font-size: 15px;
  font-color: black;
  font-style: normal;
}

h1 {
  font-family: Lucida;
  font-size: 30px;
  font-color: black;
  text-align: left;
}

h2 {
  font-family: Lucida;
  font-size: 25px;
  font-color: black;
}

h3 {
  font-family: Lucida;
  font-size: 20px;
  font-color: black;
}

table {
  font-size: 20px;
  font-family: Lucida;
}

tr {
    text-align: left;
    margin: 30px;
}

